.mat-raised-button {
    width: 105px;
    height: 43px;
    color: white;
    background-color: #00bcd4;
}

.add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-icon {
    margin-right: 0.5rem;
}

a {
    text-decoration: none;
}