<!-- <mat-sidenav-container> -->
<mat-card class="light" style="height: 100%">
  <mat-card-header>
    <mat-card-title class="view-card-title">
      <h1>{{ pageTitle }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-toolbar>
    <mat-toolbar-row>
      <mat-form-field>
        <mat-placeholder>
          <mat-icon>subject</mat-icon>
          <b> Search</b>
        </mat-placeholder>
        <input
          matInput
          [formControl]="searchInput"
          (keyup.enter)="applySearch()"
        />
      </mat-form-field>
      <span class="title-spacer"></span>
      <button
        mat-mini-fab
        style="margin-right: 10px; background-color: darkgray"
        (click)="loadSubjectsFromApi()"
      >
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-table
    #table
    [dataSource]="$any(pagedSubjects?.items)"
    matSort
    matSortActive="SubjectName"
    matSortDirection="asc"
  >
    <ng-container matColumnDef="SubjectName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Title
      </mat-header-cell>
      <mat-cell *matCellDef="let subject"> {{ subject.subjectName }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="SubjectHometask">
      <mat-header-cell *matHeaderCellDef> Hometask </mat-header-cell>
      <mat-cell *matCellDef="let subject">
        {{ subject.subjectHometask }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef style="justify-content: right">
        <button
          mat-button
          style="color: white; background-color: darkgrey"
          (click)="resetGrid()"
        >
          Reset
        </button>
      </mat-header-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      [routerLink]="['subject/', row.id]"
    ></mat-row>
  </mat-table>

  <mat-paginator
    [length]="pagedSubjects?.total"
    [pageSizeOptions]="[5, 10, 25, 50]"
    pageSize="5"
  ></mat-paginator>
</mat-card>
